/* .container-fluid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-7, .col-5{
  flex: 1 1 90%;
  padding: 10px;
  box-sizing: border-box;
} */



.left-image{
  position: absolute;
  width: 45%;
  height: 43.8125rem;
  bottom: 0px;
  left: 0px;
  /* border-radius: 1.5rem;
  background: var(--base-white, #FFF);
  margin-top: 1rem;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto; */
}

.right-group14{
  width: auto;
  height: 10.29169rem;
}


.right-container-top{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.right-container-top .right-logo{
  width: 8.88rem;
  height: 5.25rem;
    margin: auto;
}

/* form login */
.form-group {
  position: relative;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.form-group input {
  padding-left: 40px; /* Adjust the value as needed */
}

.bottom-footer{
  position: absolute;
  bottom: 0px;
  left: 66%;
}



/* ============================================= */
.pattern-bjbs-1,
.sketch-1-icon {
  position: absolute;
  left: 0;
  object-fit: cover;
}
.sketch-1-icon {
  top: 12.06rem;
  width: 41.19rem;
  height: 41.19rem;
}
.pattern-bjbs-1 {
  top: 0;
  width: 12.63rem;
  height: 12.63rem;
}
.left {
  position: relative;
  border-radius: 24px;
  background-color: var(--base-white);
  width: 41.19rem;
  height: 53.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.bjb-syariah-1 {
  position: relative;
  width: 7.88rem;
  height: 5.25rem;
  object-fit: cover;
}
.human-resources-management {
  position: relative;
  line-height: 1.38rem;
}
.bjb-syariah-1-parent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  width: 30.31rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.masuk {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.anda-perlu-memiliki {
  margin: 0;
}
.anda-perlu-memiliki-container {
  align-self: stretch;
  position: relative;
  font-size: var(--body-regular-size);
  line-height: 120%;
  color: var(--neutral-500);
}
.title {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sub-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--heading-5-semibold-size);
  color: var(--base-black);
}
.behaviour-child {
  background-color: var(--base-white);
  border: 1px solid var(--neutral-400);
  box-sizing: border-box;
}
.behaviour,
.behaviour-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.person-outline-icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.label {
  position: absolute;
  height: 50%;
  width: 15.25%;
  top: 25%;
  right: 84.75%;
  bottom: 25%;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.sign-inusername {
  align-self: stretch;
  position: relative;
  height: 3rem;
}
.lupa-password {
  position: relative;
  text-decoration: underline;
  line-height: 1.38rem;
  cursor: pointer;
}
.lupa-password-wrapper,
.sign-inusername-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.lupa-password-wrapper {
  align-items: flex-end;
  text-align: right;
  color: var(--info-500);
}
.sign-inusername-parent {
  align-items: center;
  gap: 1.5rem;
  text-align: left;
}
.label2 {
  flex: 1;
  position: relative;
  line-height: 120%;
}
.button-variants,
.primary {
  border-radius: var(--br-9xs);
  height: 2.25rem;
  display: flex;
}
.primary {
  width: 7.94rem;
  flex-direction: row;
  padding: 0.5rem var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-variants {
  align-self: stretch;
  background-color: var(--primary-500);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--body-regular-size);
  color: var(--base-white);
}
.daftar {
  color: #f5222d;
}
.belum-punya-akun-daftar-wrapper,
.sub-title-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.belum-punya-akun-daftar-wrapper {
  align-self: stretch;
  align-items: center;
}
.sub-title-parent {
  position: absolute;
  top: 13.38rem;
  left: 0;
  border-radius: 12px;
  background-color: var(--base-white);
  width: 30.31rem;
  padding: 2.5rem var(--padding-5xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 1.25rem;
  color: var(--neutral-500);
}
.frame-parent {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.bank-bjb-syariah-container {
  position: relative;
  line-height: 120%;
}
.copyright-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: left;
}
.left-parent,
.right {
  display: flex;
  justify-content: flex-start;
}
.right {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.left-parent {
  position: relative;
  background-color: var(--neutral-50);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xl) 3rem;
  box-sizing: border-box;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--base-black);
  font-family: var(--body-regular);
}
